.avis  {
    display:flex;
    padding: 122px 60px 80px 60px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.avis .testimony {
    display: flex;
    width: 671px;
    height: 250px;
    align-items: flex-start;
    gap: 5px;
    
}

.avis .testimony {
    display: flex;
    width: 292px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
}

.avis .pdp {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 100%;
}

.avis .note {
    width: 167.12px;
    height: 28.96px;
    
}
