/* 
    RE$ET
*/

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
img {
    width: 100%
}

@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

/* 
    MAIN
*/

.carte {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.title  {
    background-color: #262626;
    display: flex;
    width: 10%;
    margin-top: 5vh;
}
.title.deux {
    width: 7.5%;
}
.title.trois {
    width: 17%;
}
h2 {
    font-family: 'Spinnaker', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: #ECB14C;
    display: flex;
    margin: 2vh 0;
    padding: 1vh 1vw;
    font-weight: lighter;
    align-items: center;
}
.meals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5% 0% 0% 8%;
    gap: 5%;
    min-height: 95vh;
}
.meals img {
    width: calc(80% / 3);
    box-shadow: 4px 4px 3px 0px rgba(41, 41, 41, 0.25);
}
.plat-1:hover {
    content: url(/asset/img/food_11_dark_description.png);
}
.plat-2:hover {
    content: url(/asset/img/food_1_dark.png);
}
.plat-3:hover {
    content: url(/asset/img/food_10_dark.png);
}
.plat-4:hover {
    content: url(/asset/img/food_5_dark.png);
}
.plat-5:hover {
    content: url(/asset/img/food_4_dark.png);
}
.plat-6:hover {
    content: url(/asset/img/food_7_dark.png);
}